{% extends 'rooms/base.html' %}

{% block rooms_content %}

<h1>Games</h1>

{% if games_list %}
    {% for game in games_list %}
        <h2><a href="/rooms/{{ game.id }}/">{{ game.name }}</a></h2>
            <p>{{ game.description }}</p>
    {% endfor %}
{% else %}
    <p>No games are available.</p>
{% endif %}
{% endblock %}
